block clients
  .clients
    .container
      .row
        figure.col-xl-6.col-lg-6.col-md-12.col-sm-12.wow.fadeInLeft(data-wow-delay=".7s")
          img(src="assets/images/testimonial/testimonial-shape.svg", alt="").shape
          img(src="assets/images/testimonial/testimonial-dots.svg", alt="").dots
          .users
            img(src="assets/images/testimonial/testimonial-1.png", alt="").data.data1.active
            img(src="assets/images/testimonial/testimonial-2.png", alt="").data.data2
            img(src="assets/images/testimonial/testimonial-3.png", alt="").data.data3
            .qoute
              i.fa-solid.fa-quote-right
        section.datas.col-xl-6.col-lg-6.col-md-12.col-sm-12.wow.fadeInRight(data-wow-delay=".7s")
          h4 What our customers says
          p.py-20 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dinonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.
          .data.data1.active
            h5 Jonathon Smith
            p Developer and Youtuber
          .data.data2
            h5 Gray Simon
            p UIX Designer and Developer
          .data.data3
            h5 Michel Smith
            p Traveler and Vloger
          .buttons
            button
              i.fa-solid.fa-chevron-left
            button
              i.fa-solid.fa-chevron-right
