block features
  .features.py-25#features
    .container
      .row 
        section.col-lg-4.col-md-6.col-sm-12.wow.fadeInLeft(data-wow-delay=".3s")
          .icon
            i.fa-brands.fa-bootstrap
          h3.py-25 Bootstrap 5
          p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
        section.col-lg-4.col-md-6.col-sm-12.wow.fadeInUp(data-wow-delay=".5s")
          .icon
            i.fa-solid.fa-table-cells
          h3.py-25 Clean Design
          p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
        section.col-lg-4.col-md-6.col-sm-12.wow.fadeInRight(data-wow-delay=".3s")
          .icon
            i.fa-solid.fa-mug-hot
          h3.py-25 Easy To Use
          p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
