block pricing
  .pricing
    .head
      h3.wow.fadeInUp(data-wow-delay=".2s") Choose a Plan
      p.wow.fadeInUp(data-wow-delay=".4s") Lorem ipsum dolor sit amet consetetur sadipscing elitr sswed diam nonumy eirmod tempor nvidunt.
    button(href="#" data-wow-delay=".7s").monthly.active.wow.fadeInLeft Monthly
    button(href="#" data-wow-delay=".7s").yearly.wow.fadeInRight Yearly
    .container.monthly.active
      .row
        section.col-lg-4.col-md-6.col-sm-12.wow.fadeInLeft(data-wow-delay=".7s")
          .data
            h3 $36
            p Basic Account
          .price
            ul
              li 
                i.fa-solid.fa-check 
                |  Unlimited Access
              li 
                i.fa-solid.fa-check 
                | Single User
              li 
                i.fa-solid.fa-check 
                | Unlimited Storage
              li 
                i.fa-solid.fa-xmark 
                | 24/7 Support
              li 
                i.fa-solid.fa-xmark 
                | Free Future Updates
            button(href="#").book Get Start
        section.col-lg-4.col-md-6.col-sm-12.wow.fadeInUp(data-wow-delay="1s")
          .data
            h3 $56
            p Standard Account
          .price
            ul
              li 
                i.fa-solid.fa-check 
                | Unlimited Acces
              li 
                i.fa-solid.fa-check 
                | 20+ Users
              li 
                i.fa-solid.fa-check 
                | Unlimited Storage
              li 
                i.fa-solid.fa-check 
                | 24/7 Support
              li 
                i.fa-solid.fa-check 
                | Free Future Updates
            button(href="#").book.middle Get Start
        section.col-lg-4.col-md-6.col-sm-12.wow.fadeInRight(data-wow-delay=".7s")
          .data
            h3 $89
            p Premium Account
          .price
            ul
              li 
                i.fa-solid.fa-check 
                | Unlimited Acces
              li 
                i.fa-solid.fa-check 
                | Unlimited Users
              li 
                i.fa-solid.fa-check 
                | Unlimited Storage
              li 
                i.fa-solid.fa-check 
                | 24/7 Support
              li 
                i.fa-solid.fa-check 
                | Free Future Updates
            button(href="#").book Get Start
    .container.yearly
      .row
        section.col-lg-4.col-md-6.col-sm-12
          .data
            h3 $136
            p Basic Account
          .price
            ul
              li 
                i.fa-solid.fa-check 
                |  Unlimited Access
              li 
                i.fa-solid.fa-check 
                | Single User
              li 
                i.fa-solid.fa-check 
                | Unlimited Storage
              li 
                i.fa-solid.fa-xmark 
                | 24/7 Support
              li 
                i.fa-solid.fa-xmark 
                | Free Future Updates
            button(href="#").book Get Start
        section.col-lg-4.col-md-6.col-sm-12
          .data
            h3 $156
            p Standard Account
          .price
            ul
              li 
                i.fa-solid.fa-check 
                | Unlimited Acces
              li 
                i.fa-solid.fa-check 
                | 20+ Users
              li 
                i.fa-solid.fa-check 
                | Unlimited Storage
              li 
                i.fa-solid.fa-check 
                | 24/7 Support
              li 
                i.fa-solid.fa-xmark 
                | Free Future Updates
            button(href="#").book.middle Get Start
        section.col-lg-4.col-md-6.col-sm-12
          .data
            h3 $189
            p Premium Account
          .price
            ul
              li 
                i.fa-solid.fa-check 
                | Unlimited Acces
              li 
                i.fa-solid.fa-check 
                | Unlimited Users
              li 
                i.fa-solid.fa-check 
                | Unlimited Storage
              li 
                i.fa-solid.fa-check 
                | 24/7 Support
              li 
                i.fa-solid.fa-check 
                | Free Future Updates
            button(href="#").book Get Start