block subscribe
  .subscribe
    .container
      .row
        .col-lg-6.col-md-12.col-sm-12.title
          h3 Subscribe Our Newsletter
          p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        .col-lg-6.col-md-12.col-sm-12.form
          form
            input#emailInput(type="email", placeholder="Enter Your Email", data-custom="value")
            button(type="submit") Subscribe