/** @format */

$link: #5b657e;
$link-hover: #5864ff;
$font-color: #162447;
$orange: orangered;
$success: green;
$color1: #ff92a5;
$color2: #5864ff;
$color3: #b89cfe;
$button-hover: rgba(27, 67, 177, 0.055);
$header-color: rgba(255, 255, 255, 0.8);
$header-active: #ff9800;
$features-color: rgba(88, 100, 255, 0.1);
