/** @format */

$link: #5b657e;
$link-hover: #5864ff;
$font-color: #162447;
$orange: orangered;
$success: green;
$color1: #ff92a5;
$color2: #5864ff;
$color3: #b89cfe;
$button-hover: rgba(22, 36, 71, 0.3);
$header-color: rgba(255, 255, 255, 0.8);
$header-active: rgb(105, 214, 178);
