footer
  img(src="assets/images/footer/footer-bg.svg", alt="")
  .container
    .row
      .col-lg-4.col-md-6.col-sm-12
        .footer-logo
          a(href="index.html")
            img(src="assets/images/logo/logo.svg" alt="")
          p.py-20 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dinonumy eirmod tempor invidunt.
          ul
            li 
              a(href="#") 
                i.fab.fa-facebook-f
            li 
              a(href="#") 
                i.fab.fa-twitter
            li 
              a(href="#") 
                i.fab.fa-instagram
            li 
              a(href="#") 
                i.fab.fa-linkedin
      .col-lg-2.col-md-6.col-sm-12
        .footer-links
          h3 About Us
          ul
            li 
              a(href="#") Home
            li 
              a(href="#") Features
            li 
              a(href="#") About
            li 
              a(href="#") Testimonials
      .col-lg-3.col-md-6.col-sm-12
        .footer-links
          h3 Features
          ul
            li 
              a(href="#") How it works
            li 
              a(href="#") Privacy policy
            li 
              a(href="#") Terms of service
            li 
              a(href="#") Refund Policy   
      .col-lg-3.col-md-6.col-sm-12
        .footer-links
          h3 Other Products
          ul
            li 
              a(href="#") Accounting Software
            li 
              a(href="#") Billing Software
            li 
              a(href="#") Booking System
            li 
              a(href="#") Tracking System